/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
} */

.qrImage {
    width: 100%;
    border-radius: 12px;
}

.title {
    margin: 1.5rem 0 1rem;
    font-size: 1.35rem;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
/* .card {
    width: 320px;
    padding: 1rem;
    border-radius: 20px;
    background: white;
} */
